.create-new-settings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    padding: 50px 100px;
}

.create-new-settings .dimetions-size {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    width: 300px;
    color: #fff;
    text-shadow: 0px 2px 0px var(--color-dark-gray);
}

.info {
    margin: 60px 0;
    padding: 10px;
    border-radius: 5px;
    color: rgba(255, 255, 255, 0.56);
    width: 340px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 14px;
    color: #fff;
    opacity: .4;
}

.row .key {
    min-width: 20px;
    min-height: 20px;
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info span {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.info span>span {
    margin: 0 20px;
    padding: 5px 8px;
    border-radius: 5px;
    background-color: rgba(148, 148, 148, 0.08);
}