.matrix-panel,
.preview-panel {
    display: flex;
    width: 30%;
}

.matrix-panel {
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}

.preview-panel {
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    margin-left: 0;
    font-size: calc(10px + 0.5vmin);
    background-color: rgba(255, 255, 255, 0.03);
}